/*---COLORS---*/

$red:#D8586F;
$gray:#D0D0D0;
$white: #FFFFFF;
$green: #B8DB4D;
$orange: #FE9244;
$darkBlue: #33ADD6;
$softBlack: #3D4451;
$lightBlue: #66B0F0;
$blue-background:#E8F3FD;
$red-background: #F5D5DB;
$green-background:#ECF7CC;
$orange-background:#FFE9DA;
$softBlack-border: #D8DADC;

/*---Fonts--*/

$titlesFont: 'Halant', serif;
$contentFont: 'Nunito', sans-serif;

$fontSize: 1.4rem;
$lineHeight: 2rem;

h1,h2,h3{ font-family: $titlesFont; list-style: none; font-style: normal; margin: 0;}
h1{font-size: 2.8rem; line-height: 3.6rem;}
h2{font-size: 2.4rem; line-height: 3.2rem;}
h3{font-size: 2rem; line-height: 2.8rem;}
p{font-size: 1.4rem;line-height: 2.4rem;}

.display-large, .display-medium, .display-small, .display-xsmall{font-family: $titlesFont, sans-serif; list-style: none; font-style: normal; }
.display-large{ font-size: 6rem; line-height: 6.8rem;}
.display-medium{font-size: 5.2rem; line-height: 6.4rem;}
.display-small{font-size: 4.4rem; line-height: 5.6rem;}
