<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar-row">
    <span>Tablon</span>
    <nav class="mat-toolbar-nav">
      <a mat-button routerLink="/courses" routerLinkActive="active">My Courses</a>
      <a mat-button routerLink="/products" routerLinkActive="active">My Classes</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Book Classes</a>
    </nav>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="matMenu" aria-label="Icon to open Menu">
      <span class="material-icons">
        more_vert
      </span>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item mat-button routerLink="/courses" routerLinkActive="active">My Courses</a>
      <a mat-menu-item mat-button routerLink="/products" routerLinkActive="active">My Classes</a>
      <a mat-menu-item mat-button routerLink="/contact" routerLinkActive="active">Book Classes</a>
    </mat-menu>
  </mat-toolbar-row>


</mat-toolbar>
