nav > a{
  padding: 10px;
  text-decoration: none;
  color:white
}

.toolbar{
  align-items: center;
}

.matMenu{
  display: none;
}

@media only screen and (max-width: 520px) {
  .toolbar-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .matMenu{
    display: block;
    justify-self: flex-end;
    width: 50px;
    color:white;
    background-color: rgb(0%, 0%, 0%, 0%);
    border:none;
  }
  .mat-toolbar-nav{
    display:none
  }
}
