.mat-toolbar-row{
  padding: 0 5%;
  justify-content:space-between;
}
figure{
  display: flex;
  margin: 0;
  align-items: center;
}

@media only screen and (max-width: 520px) {
  .toolbar-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .mat-toolbar-nav{
    display:none
  }
}
