<header class="header">
  <figure class="header__first-item">
    <img class="logo" src="/assets/icons/tablon-logo.svg" alt="Back to the menu">
    <a mat-button routerLink="/app/courses" routerLinkActive="active">Tablon</a>
  </figure>

  <nav class="header__second-item">
    <li><a routerLink="/app" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/app/courses/user',userId]" routerLinkActive="active">My Courses</a></li>
    <li><a routerLink="/app/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/app/courses/create-course" routerLinkActive="active">Create Course</a></li>
  </nav>
</header>
