<mat-toolbar class="toolbar" role="heading">
  <mat-toolbar-row class="toolbar-row">
    <figure>
      <img class="logo" src="../../../../assets/icons/tablon-logo.svg" alt="Back to the menu">
    </figure>
    <a mat-button routerLink="/courses" routerLinkActive="active">TAAAAABLON</a>
    <nav class="mat-toolbar-nav">
      <li><a routerLink="['/app/courses',userId]" routerLinkActive="active">My Courses</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/home">logout</a></li>
    </nav>
  </mat-toolbar-row>

</mat-toolbar>
