.button{
  display: block;
  width: 256px;
  height: 36px;
  margin: 0 auto;
  align-items: center;
  border-style:none;
  border-radius: 5px;
  text-align: center;
  font-family: $contentFont;
  font-size: 1.4rem;
  font-weight: 700;
  color: $darkBlack;
  transition: transform 500ms;


  &__small{
    width: 200px;
  }
  &--shadow-text{
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  }
  &__enabled{
    &--blue{
      background-color: $lightBlue;
    }
    &--green{
      background-color: $green;
    }
  }
  &__disabled{
    background-color: $gray;
  }
  &:hover{
    background-color: $gray;
    transform: translate(5px);
  }
}
