.card{
  width: 300px;
  height: 266px;
  padding: 0;
  background: $white;
  border-radius: 5px;
  border: 1px solid $softBlack-border;
  box-sizing: border-box;
  cursor: pointer;

  &__header{
    display: flex;
    width: 299px;
    height: 143px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    font-family: $titlesFont;
    color: $softBlack;

    &--red{
      background-color: $red;
    }
    &--green{
      background-color: $green;
    }
    &--blue{
      background-color: $lightBlue;
    }
    &--blue{
      background-color: $orange;
    }
    h2{
      text-align: center;
      text-shadow: $text-shadow;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    margin: 15px 24px 0 24px;

    p{
      font-family: $contentFont;
      font-size: 1.2rem;
      text-align: center;
    }
    img{
      width: 60px;
      height: 60px;
      border-radius: 100px;
    }
  }
}

.lessons-menu{
  width: 300px;
  height: 75px;
  background: $white;
  border: 1px solid $softBlack-border;
  box-sizing: border-box;
  font-size: $contentFont;
  line-height: $lineHeight;

}

.chips{
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  background-color: #D0D0D0;
  font-family: 'Nunito';
  font-weight: 700;
  color: #3D4451;
  cursor: pointer;
}
