.card{
  width: 300px;
  height: 266px;
  padding: 0;
  background: $white;
  border-radius: 5px;
  border: 1px solid $softBlack-border;
  box-sizing: border-box;
  cursor: pointer;

  &__header{
    display: flex;
    width: 299px;
    height: 143px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    font-family: $titlesFont;
    color: $softBlack;

    &--red{
      background-color: $red;
    }
    &--green{
      background-color: $green;
    }
    &--blue{
      background-color: $lightBlue;
    }
    &--blue{
      background-color: $orange;
    }
    h2{
      text-align: center;
      text-shadow: $text-shadow;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    margin: 15px 24px 0 24px;

    p{
      font-family: $contentFont;
      font-size: 1.2rem;
      text-align: center;
    }
    img{
      width: 60px;
      height: 60px;
      border-radius: 100px;
    }
  }
}

.lessons-menu{
  display: grid;
  width: 300px;
  background: $white;
  border: 1px solid $softBlack-border;
  box-sizing: border-box;
  &__header{
    display: flex;
    height: 75px;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
    }
    h3{
      margin: 0;
    }
  }
  &__description{
    height: fit-content;
    padding: 10px;
    min-height: 75px;
    border-top: 1px solid $softBlack-border;
  }
}

.chips{
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  border: 1px solid $softBlack;
  background-color: $white;
  font-family: 'Nunito';
  font-weight: 700;
  color: $softBlack;
  cursor: pointer;
}

.user-card{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 30%;
  width: 333px;
  height: 129px;
  margin: 0 auto;
  align-items: center;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 5px;

  img{
    top: -40px;
    left: 50px;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 500px;
  }
  &__data{
    height: fit-content;
    padding-left: 5px;
    margin-left: 20px;
    border-left: 1px solid $red;
    font-weight: 700;

  }
  &__delete-button{
    display: grid;
    margin: 0 auto;
    padding: 5px;
    height: 50px;
    width: 50px;
    justify-items: center;
    background-color: transparent;
    border: 1px solid $softBlack;
    border-radius: 5px;
    color: $softBlack
  }
}


.mat-stepper-horizontal {
    background-color: $green-background;
    margin-top: 50px;

  .mat-horizontal-stepper-header-container {
    font-family: $contentFont;
    font-size: 1.2rem;
    .mat-horizontal-stepper-header {
      padding: 10px;
    }
  }

  .mat-horizontal-content-container {

    .mat-horizontal-stepper-content {
      display: grid;
      margin-top: 65px;
      gap: 30px;
      justify-content: center;
    }
  }
}
