
.input {
  position:relative;
  width: 283px;
  height: 45px;
  border-radius: 5px;
  background-color: $white;
  font-size: $fontSize;
  line-height: $lineHeight;

  &--enabled {
    border: 1px solid $softBlack;
  }
  &--alert {
    border: 1px solid $red;
  }
  &--disabled {
    border: 1px solid $gray;
  }

  .icon__container {
    position: relative;
    display: flex;
    left: -1px;
    width: 45px;
    height: 45px;
    margin: 0 5px 0 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &--enabled {
      background: $softBlack;
    }
    &--alert {
      background: $red;
    }
    &--disabled {
      background: $gray;
    }
    .icon {
      width: 20px;
      height: 25px;
    }
  }
  .mat-input-element,
  .mat-form-field-label{
    padding-left: 10px;
  }
}

.filter {
  display: flex;
  width: 120px;
  height: 38px;
  justify-content: space-around;
  align-items: center;
  background: $white;
  border: 1px solid $softBlack;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: $contentFont;
  font-size: $fontSize;
  line-height: $lineHeight;
}
