/*---COLORS---*/

$red:#E48A9A;
$gray:#D0D0D0;
$white: #FFFFFF;
$green: #BEE34E;
$orange: #FE9244;
$darkBlue: #33ADD6;
$softBlack: #3D4451;
$darkBlack: #1D2536;
$lightBlue: #66B0F0;
$blue-background:#E8F3FD;
$red-background: #F5D5DB;
$green-background:#ECF7CC;
$orange-background:#FFE9DA;
$softBlack-border: #D8DADC;

$text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.50);

/*---Fonts--*/

$titlesFont: 'Halant', serif;
$contentFont: 'Nunito', sans-serif;

$fontSize: 1.4rem;
$lineHeight: 2rem;
