<figure class="logo-container">
  <img src="/assets/icons/tablon-logo.svg" alt="Tablon logo">
</figure>

<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card tabindex="0">

    <mat-card-header>
      <mat-card-title>
        <h2>Sign up to Tablon</h2>
        <div></div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="input" [ngClass]=" name.invalid && name.touched  ? 'input--alert' : 'input--enabled'">
        <mat-label>Username</mat-label>
        <input matInput placeholder="name" appearance="none" formControlName="name" type="name">
      </mat-form-field>

      <div *ngIf="name.invalid && name.touched">
        <mat-error *ngIf="name.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="name.errors?.minlength">
          This field can not be shorter than {{name.errors.minlength.requiredLength}} characters
        </mat-error>
        <mat-error *ngIf="name.errors?.maxlength">
          This field can not be longer than {{name.errors.maxlength.requiredLength}} characters
        </mat-error>
        <mat-error *ngIf="name.errors?.pattern">The name can only contain characters</mat-error>
      </div>

      <mat-form-field class="input" [ngClass]=" email.invalid && email.touched  ? 'input--alert' : 'input--enabled'">
        <mat-label>Email</mat-label>
        <input matInput appearance="none" placeholder="email" formControlName="email" type="email">
      </mat-form-field>

      <div *ngIf="email.invalid && email.touched">
        <mat-error *ngIf="email.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="email.errors?.email"> Introduce a valid email</mat-error>
      </div>

      <mat-form-field class="input"
        [ngClass]=" password.invalid && password.touched ? 'input--alert' : 'input--enabled'">
        <mat-label>********</mat-label>
        <input placeholder="password" appearance="none" formControlName="password" matInput type="password">
      </mat-form-field>

      <div *ngIf="password.invalid && password.touched">
        <mat-error *ngIf="password.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="password.errros?.minlength">
          This field can not be longer than {{password.errors.minlength.requiredLength}} characters
        </mat-error>
        <mat-error *ngIf="password.errors?.hasNumber">The password must have at least one number
        </mat-error>
        <mat-error *ngIf="password.errros?.hasCapitalCase">The password must have at least one capital Letter
        </mat-error>
        <mat-error *ngIf="password.errors?.hasSmallCase">The password must have at least one letter</mat-error>
        <mat-error *ngIf="password.errors?.hasSpecialCharacters">The password must have at least one special character
        </mat-error>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button class="button button--shadow-text button__enabled--blue" type="submit">Create my Account!</button>
      <p class="alternative-action">Already have an account?</p>
      <button class="button button__small button__enabled--green" type="button" routerLink="/auth/login">Login to your
        account</button>

    </mat-card-actions>
  </mat-card>
</form>
