@import 'src/sass/variables';

.logo-container{
  margin: 0 auto;
  width: 126px;
  img{
    margin-top: 35px;
    height: 98px;
  }
}

form{
  .mat-card{
    display: grid;
    margin: 0 auto;
    justify-items: center;
    background-color: transparent;
  }
  .mat-card-header{
    h2{
      text-align: center;
      font-family: $contentFont;
    }
    div{
      width: 100%;
      height: 2px;
      background-color: $green;
    }
  }

  .mat-card-content{
    display:grid;
    justify-items: center;
    margin-top: 10px;
    .input{
      padding:0;
      margin-top: 27px;
      .mat-label{
        font-family: $contentFont;
      }
    }
  }

  .mat-card-actions{
    display:grid;
    justify-items: center;
    font-family: $contentFont;
    .alternative-action{
      margin-top:55px;
    }
  }
}
