<section *ngIf="course.name && (teacher$ | async) as teacher" (click)="goToDetails()" class="card">
  <header class="card__header card__header--red">
    <h2>{{course.name}}</h2>
  </header>
  <svg width="299" height="18" viewBox="0 0 299 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0C34.8833 13.5832 143.52 32.5997 299 0H0Z" fill="{{colorComponent}}" />
  </svg>
  <div class="card__content">
    <p class="content">{{course.lessons.length}} lessons with <br> <b>{{teacher.data.name}}</b></p>
    <img src="{{url}}" alt="profile picture">
  </div>
</section>
