.logo-container{
  margin: 0 auto;
  margin-top: 64px;
  width: 150px;
  height: 117px;
}
form{
  display:grid;
}
.mat-card{
  margin: 0 auto;
  box-shadow: none;
  background-color: transparent;
}
.mat-card-header{
  margin: 0 auto;
  width: max-content;
  justify-content: center;
}
.mat-card-content{
  display:grid;
  gap:10px;
}
.user-login-small{
  width: 283px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid var(--color1);
  background-color: var(--color6);
  border-radius: 5px;
}
.user-login-small.ng-touched.ng-invalid{
  border: 1px solid var(--color4);
}
.user-login-small figure{
  position: relative;
  top: -1px;
  left: -11px;
  display: grid;
  margin: 0 5px 0 0;
  width: 45px;
  height: 45px;
  align-items: center;
  background-color: var(--color1);
  border-radius: 5px;
}
.user-login-small .userFigureError,
.user-login-small .userFigureError img,
.user-login-small .passwordFigureError,
.user-login-small .passwordFigureError img {
   background-color: var(--color4);
}

.user-login-small figure img{
  width: 22px;
  height: 20px;
  margin: 0 auto;
  background-color: var(--color1);
}
.mat-form-field{
  padding-left:10px
}
.mat-card-actions{
  display:grid;
  margin:0 auto;
  justify-content: center;
}
.forgot-password{
  padding:5px;
  text-align: center;
  font-size: 1.4rem;
  opacity: 0.7;
  color:var(--color1);
}
.alternative-action{
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
  opacity: 0.9;
  color:var(--color1);
}
.alert-error{
  color:var(--color4)
}
