@import 'src/sass/variables';

.logo-container{
  margin: 0 auto;
  width: 150px;
  img{
    margin-top: 64px;
    height: 117px;
  }
}

form{
  .mat-card{
    display: grid;
    margin: 0 auto;
    justify-items: center;
    box-shadow: none;
    background-color: transparent;
  }
  .mat-card-header{
    h2{
      text-align: center;
      font-family: $contentFont;
    }
    div{
      width: 100%;
      height: 2px;
      background-color: $green;
    }
  }

  .mat-card-content{
    display:grid;
    justify-items: center;

    .input{
      padding:0;
      margin-top: 30px;
      .mat-label{
        font-family: $contentFont;
      }
    }
    .mat-error{
      margin-top: 5px;
    }
    .alert-error{
      color: $red;
    }
  }

  .mat-card-actions{
    display:grid;
    justify-items: center;
    font-family: $contentFont;
    .extra__one{
      margin: 6px auto 0 auto;
      opacity: 70%;
    }
    .extra__two{
      margin: 30px auto 2px auto;
      opacity: 70%;
    }
  }
}
