<footer class="footer">
  <div></div>
  <nav>
    <li class="footer__button">
      <a routerLink="/app/courses">
        <img src="/assets/icons/home-icon.svg" alt="home-icon">
      </a>
    </li>
    <li class="footer__button">
      <a [routerLink]="['/app/courses/user',userId]">
        <img src="/assets/icons/library-icon.svg" alt="library-icon">
      </a>
    </li>
    <li class="footer__button">
      <a [routerLink]="['/app/profile']">
        <img src="/assets/icons/profile-icon.svg" alt="profile-icon">
      </a>
    </li>
    <li class="footer__button">
      <a routerLink="/app/courses/create-course">
        <img src="/assets/icons/add-course-icon.svg" alt="add-course-icon">
      </a>
    </li>
  </nav>
</footer>
