form{
  background-color: transparent;
}
.mat-card{
 background-color: transparent;
}
.mat-card-header{
  margin: 20px auto;
  justify-content: center;
}
.mat-card-content{
  display:grid;
  gap:20px;
  justify-content: center;
}
.lesson-container{
  display: grid;
  gap:20px;
  margin: 20px auto;
  justify-content: center;
}
.mat-form-field-infix{
  margin-left: 10px;
}
.description{
  height: 80px;
}
.green{
  background-color: var(--color9);
}
.mat-card-actions{
  display: grid;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}
