<form [formGroup]="form" (ngSubmit)="createCourse($event)">
  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel> basic name and description</ng-template>
      <mat-form-field appearance="none" class="input-small">
        <mat-label>Course name</mat-label>
        <input placeholder="name" formControlName="name" matInput type="name">
      </mat-form-field>
      <mat-form-field appearance="none" class="input-small description">
        <mat-label>Course description</mat-label>
        <textarea matInput placeholder="description" formControlName="description" matInput type="text"></textarea>
      </mat-form-field>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>lessons for your course
      </ng-template>
      <button class="button-small" type="button" (click)="addLessonsField()">Add leasson</button>
      <div formArrayName="lessons" *ngFor="let lesson of lessonsField.controls,let i = index">
        <div [formGroupName]="i">
          <mat-form-field appearance="none" class="input-small">
            <mat-label>Lesson name</mat-label>
            <input placeholder="name" formControlName="name" matInput type="name">
          </mat-form-field>
          <mat-form-field appearance="none" class="input-small">
            <mat-label>Description</mat-label>
            <input placeholder="description" formControlName="description" matInput type="text">
          </mat-form-field>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Add Taggs and Complete!
      </ng-template>
      <button class="button-small" type="button" (click)="addTagsField()">Add tags</button>
      <div formArrayName="tags" *ngFor="let tags of tagField.controls,index as j">
        <div [formGroupName]="j">
          <mat-form-field appearance="none" class="input-small">
            <mat-label>Tags</mat-label>
            <mat-select formControlName="tags">
              <mat-option [value]="tag" *ngFor="let tag of tagList">
                {{tag}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      {{form.valid}}
      <button class="button-small" mat-button type="submit" [disabled]="!form.valid">Create!</button>
    </mat-step>
  </mat-horizontal-stepper>
</form>
