@import "src/sass/variables";
.page{
  min-height: 100vh;
  padding-bottom: 200px;
  background-color: $green-background;
}
.button{
  margin-top: 20px;
  }

h2 {
  width: 100%;
  text-align: center;
  padding-top: 15%;
}
form {
  margin-top: 45px;

  .stepper-actions {
    position: relative;
    display: flex;
    z-index: 5;
    margin-top: 90px;
    justify-content: space-around;
    z-index: 5;

    &__button {
      height: 40px;
      width: 70px;
      background-color: $white;
      border: 1px solid $softBlack;
      border-radius: 5px;
    }
  }
}

.lesson {
  position: relative;
  display: grid;
  z-index: 5;

  &__container {
    margin-top: 10px;
    p {
      margin: 0;
    }
    .lesson {
      margin-top: 10px;
    }
    .lesson__footer {
      display: flex;
      margin-top: 15px;
      justify-content: flex-end;

      button {
        display: flex;
        width: 70px;
        height: 25px;
        align-items: center;
        justify-content: space-around;
        background-color: $red-background;
        border-radius: 5px;
        border: 0.25px solid $softBlack;
        text-align: center;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.tags {

  button {
    display: flex;
    width: 70px;
    height: 25px;
    align-items: center;
    justify-content: space-around;
    background-color: $red-background;
    border-radius: 5px;
    border: 0.25px solid $softBlack;
    text-align: center;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.background{
  position: fixed;
  bottom: 75px;
  width: 100%;

  img{
    position: absolute;
    top: -100px;
    width: 100%;
  }
}
