<header>
  <img src="/assets/icons/tablon-logo.svg" alt="Tablon Icon">
  <h2>Tablon</h2>
</header>
<main>
  <h1>Learn, Teach and discover new skills</h1>
  <div class="green-border"></div>
  <p>Tablon makes it easy to connect to others and share our knowledge in a simple way</p>

  <picture>
    <source media="(min-width:1000px)" srcset="/assets/images/home-page-desktop-icon.svg">
    <source media=" (min-width:600px)" srcset="/assets/images/home-page-tablet-icon.svg">
    <img src="/assets/images/home-page-phone-icon.svg" alt="two people studying in a online course">
  </picture>

  <button class="button button--shadow-text button__enabled--blue" routerLink="/auth/login">Login</button>
  <button class="button button__enabled--green" routerLink="/auth/register">register</button>

  <section class="first-section">
    <header>
      <h3>Problem to be solved</h3>
    </header>
    <div class="first-section__content">
      <figure>
        <img src="/assets/images/earth.svg" alt="">
      </figure>
      <p>In an increasingly connected world, knowing how to program is every moment more important regardless of your
        vocations
      </p>
    </div>
  </section>

</main>
