/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
:root{
  --color1: #35363A;
  --color2: #006699;
  --color3: #0099CC;
  --color4: #CB2140;
  --color5: #D0D0D0;
  --color6: #F6F6F6;
  --color7: linear-gradient(180deg, #FFFFFF 0%, #D0D0D0 100%);
  --color8: linear-gradient(360deg, #006699 27.86%, #0082B5 53.57%, #0099CC 76.43%);
  --color9: #99CC00;
}

html{font-size: 62.5%; min-height: 100vh;min-width: 100vw;}
body{margin: 0; padding: 0; background: var(--color7);color:var(--color1) }
a{padding: 5px; text-decoration: none; color:var(--color1);}
li{display:inline-flex;}

h1,h2,h3{ font-family: Roboto Slab, "Helvetica Neue", sans-serif; list-style: none; font-style: normal; margin: 0;}
h1{font-size: 2.8rem; line-height: 3.6rem;}
h2{font-size: 2.4rem; line-height: 3.2rem;}
h3{font-size: 2rem; line-height: 2.8rem;}
p{font-size: 1.4rem;line-height: 2.4rem;}
.display-large, .display-medium, .display-small, .display-xsmall{font-family: Roboto Slab, "Helvetica Neue", sans-serif; list-style: none; font-style: normal; }
.display-large{ font-size: 6rem; line-height: 6.8rem;}
.display-medium{font-size: 5.2rem; line-height: 6.4rem;}
.display-small{font-size: 4.4rem; line-height: 5.6rem;}

.button-small{
  width: 270px;
  height: 50px;
  margin:0 auto;
  background-color: var(--color2);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: var(--color6);
  font-size: 1.6rem;
}
.button-small:focus-within,.button-small:hover{
  box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

.input-small{
  height: 45px;
  width: 280px;
  background-color: var(--color6);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  border-radius: 5px;
}
.input-small.ng-touched.ng-invalid{
  border: 1px solid var(--color4);
}

.alternative-action{
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
  opacity: 0.9;
  color:var(--color1);
}
