/* You can add global styles to this file, and also import other style files */
:root{
  --color1: #C5C8D9;
  --color2: #F2C166;
  --color3: #BF8D7A;
  --color4: #59352D;
  --color5: #BF3030;
}
html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
