<mat-card *ngIf="(course$| async) as course">
  <mat-card-header *ngIf="(teacher$ | async) as teacher">
    <p>Instructed by {{teacher.data.name}}</p>
  </mat-card-header>
  <mat-card-content>
    <nav *ngIf="course.data.lessons">
      <h2 class="courseTitle">{{course.data.name}}</h2>
      <li *ngFor="let lesson of course.data.lessons" [lesson]="lesson">
        <h3 class="classTitle">{{lesson.name}}</h3>
        <p>{{lesson.description}}</p>
      </li>
    </nav>
  </mat-card-content>
  <div *ngIf="userCourses$ | async as userCourses">
    <mat-card-actions *ngIf="hasCourse===true">
      <button class="button-small" (click)="deleteUserCourse()">Leave the course</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="hasCourse===false">
      <button class="button-small" (click)="createUserCourse()">Join the Course</button>
    </mat-card-actions>
  </div>

</mat-card>
