<mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="0ms"
  *ngIf="(userCourses$ | async) as userCourses">
  <mat-tab>
    <ng-template mat-tab-label>
      <h2>You teach</h2>
    </ng-template>
    <ng-template matTabContent>
      <app-courses *ngFor="let course of userCourses.data" [course]="course"
        [ngStyle]="course.teacher === userId ? {'display':'block'} : {'display': 'none'}">
      </app-courses>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <h2>Your courses</h2>
    </ng-template>
    <ng-template matTabContent>
      <app-courses *ngFor="let course of userCourses.data" [course]="course"
        [ngStyle]="course.teacher === userId ? {'display': 'none'} : {'display':'block'}">
      </app-courses>
    </ng-template>
  </mat-tab>
</mat-tab-group>
