@import "src/sass/variables";

.background {
  background-color: $red-background;
  min-height: 100vh;
}

.page {
  position: fixed;
  top: 0;

  img {
    width: 100%;
  }
}
.alternative-messages{
  max-width: 300px;
}
