@import 'src/sass/variables';
.page{
  position: fixed;
  top: 0;

  img{
    width: 100%;
  }
}

.mat-tab-group{
  align-items: center;
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: $red-background;


  .mat-tab-header{
    margin-bottom: 60px;
  }
  .mat-tab-body-wrapper{
    justify-content: center;
  }

  app-courses{
    margin-top: 30px;
  }
}
.mat-tab-body {
    background-color: $red-background;
}
.mat-tab-label-container{
    border: 1px solid $softBlack-border;
    border-radius: 5px;
}
