<h2>Courses you teach</h2>

<div *ngIf="(userCourses$ | async) as userCourses" class="courses-container">
  <app-courses *ngFor="let course of userCourses.data" [course]="course"
    [ngStyle]="course.teacher === userId ? {'display':'block'} : {'display': 'none'}">
  </app-courses>
</div>


<h2>Your courses</h2>
<div *ngIf="(userCourses$ | async) as userCourses" class="courses-container">
  <app-courses *ngFor="let course of userCourses.data" [course]="course"
    [ngStyle]="course.teacher === userId ? {'display': 'none'} : {'display':'block'}">
  </app-courses>
</div>
