<button (click)="showFilters = !showFilters">Filter</button>

<app-filter *ngIf="showFilters" (pressedTag)="addElementToFilter($event)"></app-filter>

<section>
  <h2>You may like</h2>
  <div *ngIf=" (courses$ | async) as courses" class="courses-container">
    <li *ngFor="let course of courses.data"
      [ngStyle]="arrayContainsArray(course.tags,filterList) ? {'display':'grid'} : {'display':'none'}">
      <app-courses [course]="course">
      </app-courses>
    </li>
  </div>
</section>

<section>
  <h2>Other Courses</h2>
  <div *ngIf="(courses$ | async) as courses" class="courses-container">
    <li *ngFor="let course of courses.data"
      [ngStyle]="arrayContainsArray(course.tags,filterList) ? {'display':'none'}:  {'display':'grid'} ">
      <app-courses [course]="course">
      </app-courses>
    </li>
  </div>
</section>
