@import 'src/sass/variables';

h2{
  margin-top:80px;
  text-align: center;
}

.filter__container{
  display: flex;
  width:100%;
  margin-top: 80px;
  justify-content: center;
}

section{
  position: relative;
  margin-top: 70px;

  ul{
    display: grid;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: center;
    background-color: $blue-background;
  }
}
